{% extends "admin.html.twig" %}

{% block title %}Nouvel article{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block admin_content %}
    <div class="mb-5 pb-5">
        <h2 class="text-secondary">Articles</h2>
        <p class="lead">Administrez ici les articles du blog.</p>
        <div class="d-flex justify-content-end">
            <a href="./../admin/create-post" class="btn btn-link">Ajouter +</a>
        </div>
        <table class="table table-hover">
            <caption>Liste des articles</caption>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Chapô</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Date création</th>
                    <th scope="col">Date modification</th>
                    <th scope="col">Auteur</th>
                    <th scope="col" colspan="5">Edition</th>
                </tr>
            </thead>
            <tbody>
                {% for post in  posts %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.lead_sentence }}</td>
                    <td>{{ post.slug }}</td>
                    <td>{{ post.created_at }}</td>
                    <td>{{ post.updated_at }}</td>
                    <td>
                        {% for author in authors %}
                            {% if post.created_by == author.id %}
                                {{author.username}} 
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="./../post/{{post.id}}" class="btn btn-primary" role="button">Voir</a>
                    </td>
                    <td>
                        <a href="./edit-post/{{post.id}}" class="btn btn-secondary" role="button">Editer</a>
                    </td>
                    <td>
                        <a  href="./delete-post/{{post.id}}" class="btn btn-danger" role="button">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}