{% extends "base.html.twig" %}

{% block title %}Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="content" class="container mb-5">
        <main class="pb-5">
            <div id="posts" class="my-5">
                <h1>Articles</h1>
                <p class="lead">Découvrez ici la liste des derniers articles du blog. Bonne lecture !</p>
                {% for post in  posts %}
                    <div class="card mb-4 shadow-sm rounded">
                        <img class="card-img-top" src="https://picsum.photos/900/400">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="badge rounded-pill bg-secondary">{{ post.slug }}</p>
                            <p class="card-subtitle text-muted">
                                {% if post.updated_at is not null %}
                                    Modifié le {{ post.updated_at|date("d/m/Y à H:i:s") }} - 
                                {% else %}    
                                    Ecrit le {{ post.created_at|date("d/m/Y à H:i:s") }} - 
                                {% endif %}
                                {% for author in authors %}
                                    {% if post.created_by == author.id %}
                                        {{author.username}} 
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text">{{ post.lead_sentence }}</p>
                            <a href="/post/{{post.id}}" class="btn btn-primary rounded" role="button">Lire l'article</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}