{% extends "base.html.twig" %}

{% block title %}Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div id="posts" class="my-5">
        <h1>Articles</h1>
        <p>Découvrez ici la liste des derniers articles du blog. Bonne lecture !</p>
        {% for post in  posts %}
            <div class="card mb-4">
                <h3 class="card-header">{{ post.title }}</h3>
                <div class="card-body">
                    <h5 class="card-title">{{ post.slug }}</h5>
                    <h6 class="card-subtitle text-muted">{{ post.created_at }} - {{ post.createdBy }}</h6>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                </svg>
                <div class="card-body">
                    <p class="card-text">{{ post.content }}</p>
                </div>
                <div class="card-body">
                    <a href="./../post/{{post.id}}" class="card-link">Lire l'article</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}