{% extends "base.html.twig" %}

{% block title %}Article{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <article class="my-5">
        <h1>{{ post.title }}</h1>
        <p class="text-muted">{{ post.slug }}</p>
        <p class="text-muted">{{ post.created_at }} - {{ post.created_by }}</p>
        <div class="">
            {{ post.content }}
        </div>
    </article>
{% endblock %}